.main{
max-width: 40rem;
margin: auto;
}

.p{
  color: hsla(25, 100%, 40%, 0.9);
}

.h{
  color: hsla(210, 100%, 32%, 0.95);
}

.nah{
  display: none;
}

cite:before{
  content: ' - ';
}

#curve{
  fill: transparent;
}
